
.my_container{
    margin-top: 5rem;
}
.container h1 , button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

.container img{
    width: 30%;
}

.container img:hover{
    cursor: pointer;
}
